@charset "utf-8";

body {
    overflow: hidden;
}

.container-fluid{
    padding: 20px 60px !important;
}

.header{
    background-color: rgb(36, 36, 36);
}
select{
    width: 600px;
}

#select-country{
    padding: 2px;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(124, 123, 123);
}

.bgContent{
    background-color: rgb(179, 179, 179);
}

img{
    width: 450px;
    height: 240px;
}

.head-Calling-Code{
    height: 50px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.title-Callign-Code{
    font-size: 15px;
    color: white;
}

#call-code{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

#info-country{
    color: white;
    font-weight: bold;
    background-color: #3c3c3c;
}
#info-country{
    padding-top: 10px;
}

#info-country span{
    display: flex;
}

#info-country span p:first-child{
    font-size: 14px !important;
    color: yellow !important;
    margin-right: 5px;
    
}

#info-country span p{
    margin-bottom: 0px;
}


#app {
    width: 100%;
    height: 100%;
}

.map{
    width: 102%;
    height: 212px;
}


.weatherIcon{
    width: 100px;
    height: 100px;
}


#weatherInfo span{
    display: flex;
}

#weatherInfo span p:first-child , p:nth-child(3){
    font-size: 14px !important;
    font-weight: bold;
    color: rgb(39, 39, 39) !important;
    margin-right: 5px;  
}

#weatherInfo span p:nth-child(2){
    color: rgb(165, 212, 102);
    font-weight: bold;
}

#weatherInfo span p{
    margin-bottom: 4px;
}

