.container-fluid{
    padding: 20px 60px !important;
}

.header{
    background-color: rgb(36, 36, 36);
}
select{
    width: 600px;
}

img{
    width: 450px;
    height: 220px;
}

.head-Calling-Code{
    height: 50px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.title-Callign-Code{
    font-size: 15px;
    color: white;
}

#call-code{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

#info-country{
    color: white;
    font-weight: bold;
    background-color: #3c3c3c;
}
#info-country{
    padding-top: 10px;
}

#info-country span{
    display: flex;
}

#info-country span p:first-child{
    font-size: 14px !important;
    color: yellow !important;
    margin-right: 5px;
    
}

#info-country span p{
    margin-bottom: 0px;
}



